// Colors
$dark-bg: #272727;
$light-bg: #595959;
$pink: #f30550;
$green: #1be494;
$blue: #2F2FA2;
$light-text: #9E9E9E;
$alert-red: #e53935;
$alert-success: #43A047;

// Font Sizes
$big-title-size: 1.6em;
$small-title-size: 1.2em;
$sub-text: 0.9em;